body {
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid;
    max-width: 409px;
    border-radius: 50px;
    display: ruby-text;
    padding: 15px;

}

span {
    color: rgb(39, 255, 183);
    font-size: 20px;
    text-transform: uppercase;
}

.bw {
    position: absolute;
    right: 50px;
}

#dark-white {
    font-size: 2rem;
    background: none;
    border: 1px solid;
    border-radius: 5px;
}